/* src/assets/styles/inventory.css */

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.inventory-table-box {
  margin-bottom: 0; /* Remove default margin from tables.css */
}

/* Make table text a bit smaller for dense view */
.inventory-table-box table td {
  font-size: 14px;
}

.inventory-table-box table th {
  font-size: 12px;
}